.favorites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2vw;
    overflow: auto;
}

.favoritesBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.backLink>a {
    color: var(--txt-sd-bar);
}

.backLink>a img {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.favEmpty {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
    height: 350px;
}