.rightBlock {
    background: url(../../../assets/home-image-bgrd.png);
    background-position: 70%;
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    opacity: 0.8;
}