.basic-single .select-box__control  {
    border: none;
    box-shadow: none;
    min-height: 0;
    padding-right: 25px;
    background: url(../../../assets/arrow-down.svg) no-repeat right 0 center / 11px auto;
}

.basic-singleReserve  .select-box__control {
    display: block;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0 16px 32px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 28px;
    color: var(--txt-sp-color);
    border: none;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    min-height: 0;
    padding-right: 25px;
    background: url(../../../assets/arrow-down.svg) no-repeat right 17px center / 11px auto;
    background-color: #F6F7F9;
}

.select-box__control .select-box__value-container {
    padding: 0;
}

.select-box__control .select-box__placeholder {
    color: black;
}

.select-box__value-container .select-box__input-container {
    margin: 0;
    padding: 0;
}

.select-box__indicator-separator {
    display: none;
}

.basic-single .select-box__control--is-disabled {
    background: url(../../../assets/arrow-down2.svg) no-repeat right 0 center / 11px auto;
}

.basic-singleReserve .select-box__control--is-disabled {
    background: url(../../../assets/arrow-down2.svg) no-repeat right 17px center / 11px auto;
    background-color: #F6F7F9;
}

.select-box__control--is-disabled .select-box__placeholder{
    color: var(--txt-sp-color);
}

