.miniPanel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    border-right: 1px solid rgba(195, 212, 233, 0.4);
}

.miniPanelReserve {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.miniPanel:first-child {
    border-color: var(--second-color);
    padding-left: 0;
}

.datePicer::placeholder {
    max-width: 120px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.datePicerReserve::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.datePicer:disabled::placeholder {
    color: var(--txt-sp-color);
    font-weight: 500;
}

.datePicerReserve:disabled::placeholder {
    color: var(--txt-sp-color);
    font-weight: 400;
}

.datePicer{
    width: 100%;
    background: url(../../../assets/arrow-down.svg) no-repeat right 17px center / 11px auto;
    padding: 0 0 0px 2px;
    border: none;
    padding-right: 41px;
}

.datePicer[type="text"] {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.datePicerReserve[type="text"] {
    width: 100%;
    margin-top: 16px;
    padding: 16px 0 16px 32px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 28px;
    border: none;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    min-height: 0;
    padding-right: 25px;
    background: url(../../../assets/arrow-down.svg) no-repeat right 17px center / 11px auto;
    background-color: #F6F7F9;
}

.datePicer[type="text"]:disabled {
    color: var(--txt-sp-color);
    background: url(../../../assets/arrow-down2.svg) no-repeat right 15px center / 11px auto;
}

.datePicerReserve[type="text"]:disabled {
    color: var(--txt-sp-color);
    background: url(../../../assets/arrow-down2.svg) no-repeat right 17px center / 11px auto;
    background-color: #F6F7F9;
}

.miniPanel span {
    font-weight: 700;
    line-height: 19.2px;
}

.miniPanelReserve span {
    font-weight: 600;
    line-height: 19px;
}

.datePicer.react-datepicker-wrapper {
    background-color: yellow;
}