.miniPanel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 17px;
    border-right: 1px solid rgba(195, 212, 233, 0.4);
}

.miniPanelReserve {
    display: flex;
    flex-direction: column;
}

.miniPanel span {
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.2px;
}

.miniPanelReserve span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
}

