.banners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

@media (max-width:475px) and (min-width: 320px) {
    .banners {
        grid-template-columns: 1fr;
    }

}