.search {
    display: flex;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 70px;
    padding: 2.6% 6.5%;
}

.menu span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu input {
    border: none;
}

.btnSearch {
    display: flex;
    margin: 0;
    padding: 12px;
    background: none;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width:560px) and (min-width: 320px) {
    .search {
        width: 100%;
        justify-content: space-between;
    }
    
    .menu {
        width: 100%;
    }
}
