.footerBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 80px 60px 60px 60px;
    margin-top: 32px;
    height: 100%;
    z-index: 1;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    color: rgba(19, 19, 19, 0.6);
}

.footerBlock h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-top: 16px;
}

.leftBlock {
    width: 300px;
}

.rightBlock {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.rightBlock>ul {
    width: 200px;
}

.rightBlock ul>li>a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(19, 19, 19, 0.6);
}

.rightBlock>ul::first-line { 
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.rightBlock>ul>li:not(:last-child){
    margin-bottom: 19px;
}
.rightBlock>ul>li:first-child {
    margin-top: 24px;
}

.bottomBlock {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 50%;
    padding-top: 48px;
    margin-top: 60px;
    border-top: 1px solid rgba(19, 19, 19, 0.16);;
    font-weight: 600;
    font-size: 16px;
    color: #131313;
}

.bottomRight {
    display: flex;
    gap: 60px;
}

.bottomRight p {
    cursor: pointer;
}
@media (max-width:1140px) {
    .rightBlock {
        margin-top: 48px;
    }
}

@media (max-width:768px) {
    .footerBlock {
        padding: 24px;
        background-color: var(--bg-color-main);
    }
    .footerBlock h1 {
        font-size: 24px;
    }

    .footerBlock h2 {
        font-size: 12px;
        line-height: 24px;
    }

    .rightBlock {
        flex-wrap: wrap;
        align-items: start;
        flex-grow: 1;
        flex-basis: 60%;
        margin-top: 48px;
    }

    .rightBlock>ul {
        width: auto;
    }

    .bottomBlock {
        flex-direction: column-reverse;
        gap: 32px;
        margin-top: 48px;
        font-size: 12px;
        border-top: none;
    }

    .bottomRight {
        justify-content: space-between;
    }
}