.reserve {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.backLink>a {
    color: var(--txt-sd-bar);
}

.backLink>a img {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.reserveBlocks {
    display: flex;
    gap: 32px;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    gap: 32px;
}

.rightBlock {
    background: var(--second-color);
    height: 100%;
    border-radius: 10px;
    flex: 0 1 50%;
}

.rentalInfo {
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 24px
}

.rentalInfo>h1 {
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--primary-color);
    margin-bottom: 4px;
}

.rentalInfo>p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 18px;
    color: var(--txt-sp-color);
}

.rentalInfo>p:last-of-type {
    display: inline;
    float: right;
}

.rentalInfo p:first-of-type {
    display: inline;
}

.infoForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    color: var(--primary-color);
}

.infoForm .error {
    border: 1px solid red;
}

.promoBlock .error {
    border: 1px solid red;
    border-right: none;
}

.promoBlock .errorBtn {
    border: 1px solid red;
    border-left: none;
}

.formControlError {
    border: 1px solid red;
}

.submitBtn {
    display: inline;
    margin: 32px 0;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--third-color);
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: var(--second-color);
    cursor: pointer;
}

.noticeForm {
    display: block;
    margin-left: 25px;
    margin-bottom: 16px;
    font-weight: 500;
    color: rgb(27, 204, 27);
}

.infoForm input {
    display: block;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0 16px 32px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 28px;
    color: var(--txt-sp-color);
    background: #F6F7F9;
    border: none;
    border-radius: 10px;
}

.confirmationInput {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

.confirmationInput label {
    padding: 16px 32px;
    background: #F6F7F9;
    border-radius: 10px;
}

.confirmationInput span {
    margin-left: 20px;
}

.rentalInfo>button {
    margin: 32px 0;
    padding: 16px 32px;
}

.safeData>h1 {
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--primary-color);
    margin: 16px 0 8px 0;
}

.safeData p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 18px;
    color: var(--txt-sp-color);
}



.rightBlock {
    padding: 24px;
}

.rightBlock>h1,h2,h3 {
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--primary-color);
    margin-bottom: 4px;
}

.rightBlock h2 {
    margin: 32px 0 32px 0;
}

.rightBlock p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 22px;
    color: var(--txt-sp-color);
}

.allsubtotal{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0 32px 0;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}


.rightBlock img {
    display: flex;
    margin: 0 auto;
}

.emptyImg {
    height: 100px;
    background-color: #F6F7F9;
}


.promoBlock {
    display:flex;
    flex-direction:row;
    margin-bottom: 32px;
    margin-top: 4px;
}


.promoBlock>button {
    border: none;
    background: #F6F7F9;
    border-radius: 0 10px 10px 0;
    padding-right: 16px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A202C;
    cursor: pointer;

}

.rightBlock input {
    flex: 1;
    padding: 16px 32px;
    border: none;
    background: #F6F7F9;
    border-radius: 10px 0 0 10px;
}

.rightBlock input::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 28px;
    color: var(--txt-sp-color);
}

.totalBlock {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.totalBlock span {
    align-self: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;
    color: var(--primary-color);
}

.rentalInfo .datePanel {
    background-color: yellow;
}

@media (max-width:768px) {
    .reserveBlocks {
        flex-direction: column-reverse
    }
}

@media (max-width:375px) {
    .rentalInfo>p:last-of-type {
        display: block;
        float: none;
        margin-top: 4px;
    }

    .promoBlock {
        flex-direction: column;
        gap: 24px
    }

    .promoBlock>button {
        background: none;
        color: rgb(53, 99, 233);;
    }
    .infoForm {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .infoForm input {
        text-overflow: ellipsis;
    }
}

@media (max-width:950px) and (min-width: 769px) {
    .rentalInfo>p:last-of-type {
        display: block;
        float: none;
        margin-top: 4px;
    }

    .infoForm {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}