.btnStart {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--second-color);
    background-color: var(--third-color);
    border-radius: 30px;
    border: none;
    padding: 2.14% 7.14%;
    box-shadow: 0 2px 4px rgb(59, 113, 195);
    cursor: pointer;
}
.btnStart:active {
    animation: gradient 200ms;
}

@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba(10, 40, 99, 0) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba(11, 59, 161, 0.426) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba(51, 86, 230, 0.5) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba(61, 177, 235, 0.8) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, rgb(50, 144, 199) 99%, #fff 100%, #fff 100%);
    }
  }