.featured {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
}

.featured h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.featured p {
    font-size: 18px;
    margin-bottom: 50px;
}
  
.featured div {
    display: flex;
    justify-content: center;
}

.featured video {
    width: 100%;
}

@media (max-width:475px) {
    .featured {
        padding: 0;
        padding-top: 50px;
    }
}