.cardsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2vw;
}
.cardBlock {
    background: var(--second-color);
    border-radius: 10px;
    padding: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 24px;
}

.title h1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--primary-color);
    margin: 0;
}
.image {
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 100px;
}

.type {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--txt-sp-color);
    margin: 4px 0 64px;
}

.featureBlock {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: var(--txt-sp-color);
}

.feature {
    display: flex;
    align-items: center;
    gap: 3px;
    white-space: nowrap;
}

.total {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
}

.total span {
    font-size: 14px;
    color: #90A3BF;
}
.price {
    display: flex;
    justify-content: space-between;
}

.price button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: var(--third-color);
    padding: 3.84% 7.69%;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: var(--second-color);
    cursor: pointer;
}

@media (max-width:475px) and (min-width: 320px) {
    .cardBlock {
        padding: 16px;
    }

    .type {
        margin-bottom: 0.75rem;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0;
        margin-bottom: 36px;
    }
    .image {
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    .image img {
        width: 70%;
    }
    .featureBlock {
        flex-direction: column;
        gap: 16px;
        font-size: 0.75rem;
    }

    .feature img {
        width: 14px;
        height: 14px;
    }

    .total {
        font-size: 1.25rem;
    }

    .price button {
        font-size: 0.75rem;
        line-height: 15px;
        padding: 10px 16px;
    }
}

@media (max-width:375px) and (min-width: 320px) { 
    .content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 36px;
    }

    .featureBlock {
        flex-direction: row;
    }
}