@import-normalize;

*,
*::before,
*::after{box-sizing:border-box;}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0;}
p{margin:0;}

:root {
  --primary-color: rgb(26, 32, 44);
  --second-color: rgb(255, 255, 255);
  --third-color: rgb(53, 99, 233);
  --bg-color-btn: rgb(92, 175, 252);
  --bg-color-main: rgb(246, 247, 249);
  --txt-sp-color: rgb(144, 163, 191);
  --txt-sd-bar: rgb(61, 82, 120);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
